<div class="reviews-form">
	<h3>Review</h3>
	<form 
		data-request="{{ __SELF__ }}::onSaveReview"
		data-request-success="$(this).find('input[type=text], textarea').val('');
							  $.oc.flashMsg({text: '{{ __SELF__.SuccessSend }}', 'class': 'success', 'interval': 10});"
		data-request-error="$.oc.flashMsg({text: '{{ __SELF__.ErrorSend }}', 'class': 'error', 'interval': 10});">
		<input type="hidden" name="reviewpPrt" value="">
		<label>
			<span>Name<sup>*</sup></span>
			<input type="text" name="reviewName" value="" required>
		</label>
		<label>
			<span>Review text<sup>*</sup></span>
			<textarea name="reviewText" rows="10" value="" required></textarea>
		</label>
		
		<button class="submit" type="submit">Send</button>
	</form>
</div>