/*Form*/
.reviews-form {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.reviews-form h3 {
	margin-bottom: 2rem;
}

.reviews-form label, .reviews-form label span, .reviews-form label input, .reviews-form label textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.reviews-form label {
	margin-bottom: 1rem;
}

.reviews-form label span {
	color: #212529;
	margin-bottom: 0.5rem;
	line-height: 1.2;
}

.reviews-form label span sup {
	color: red;
	line-height: 1;
}

.reviews-form label input {
	height: 40px;
}

.reviews-form label input, .reviews-form label textarea {
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #ced4da;
	border-radius: 4px;
	color: #495057;
}

.reviews-form label textarea {
	padding-top: 12px;
	padding-bottom: 12px;
}

button.submit {
	width: 200px;
	height: 38px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 4px;
	background-color: #007bff;
}

button:focus, .reviews-form label input:focus, .reviews-form label textarea:focus {
	outline-color: transparent;
	box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}


/*Simple list*/

.reviews-list {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.reviews-list h3 {
	margin-bottom: 2rem;
}

.reviews-list .rw-list {
	list-style: none;
	padding-left: 0;
}

.reviews-list .rw-list li {
	padding: 15px;
	margin-bottom: 2rem;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
}

.reviews-list .rw-list li:hover {
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.18);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.18);
}

.reviews-list .rw-list li .name {
	font-size: 18px;
	margin-bottom: 0.5rem;
}

.reviews-list .rw-list li .text-review {
	font-size: 16px;
}

.reviews-list .rw-list li .text-review:last-child{
	margin-bottom: 0;
}


/*Full list*/

.reviews-full-list {
	width: 100%;
	margin-bottom: 2rem;
}

.reviews-full-list h3 {
	margin-bottom: 2rem;
}

.reviews-full-list .rw-list {
	list-style: none;
	padding-left: 0;
}

.reviews-full-list .rw-list li {
	padding: 20px;
	margin-bottom: 2rem;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
}

.reviews-full-list .rw-list li:hover {
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.18);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.18);
}

.reviews-full-list .rw-list li .name {
	font-size: 18px;
	margin-bottom: 0.5rem;
}

.reviews-full-list .rw-list li .text-review {
	font-size: 16px;
}

.reviews-full-list .rw-list li .text-review p:last-child {
	margin-bottom: 0;
}

.reviews-full-list .pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.reviews-full-list .pagination li span {
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #212121;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.reviews-full-list .pagination li:first-child a {
	margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.reviews-full-list .pagination li:last-child a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.reviews-full-list .pagination li:first-child span {
	margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.reviews-full-list .pagination li:last-child span {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}